html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  min-height: 100%;
  padding-bottom: 5rem;
}

h1,
h2 {
  color: white;
  padding: 3rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}

label {
  color: white;
}

.alert-error {
  background-color: #B71C1C;
  color: #FFEBEE;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Staatliches', cursive;
}

.resultado {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
}

.resultado p {
  font-weight: bold;
  margin-bottom: .8rem;
}

.resultado p span {
  font-weight: normal;

}

.resultado:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.resultado:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}